.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #f5f5f5;
  text-align: center;
}

.not-found h1 {
  font-size: 6rem;
  margin: 0;
}

.not-found h2 {
  margin: 10px 0;
}

.not-found p {
  font-size: 1.1rem;
  opacity: 0.8;
}
